@model MyVinylShop.Models.Vinyl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VinylName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VinylName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VinylPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VinylPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VinylURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VinylURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VinylId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
