@model IEnumerable<MyVinylShop.Models.Vinyl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year.YearId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VinylName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VinylPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VinylURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.ArtistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year.YearId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VinylName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VinylPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VinylURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VinylId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VinylId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VinylId })
        </td>
    </tr>
}

</table>
